@import url('https://fonts.googleapis.com/css2?family=Lora&family=Radio+Canada&family=Roboto&display=swap');
/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body{
  max-width: 400px;
  margin: auto;
  background-image: url(../images/site/checkerboard.jpg);
  font-family: 'Roboto', sans-serif;
  
}

#wrapper{
  background-color: white;
  border: 3px solid lightblue;
  border-radius: 10px;
}
.siteName{
  text-decoration: none;
  font-size: 40px;
  color: black;

}
a:link{
  text-decoration: none;
  color: black;
}
a:visited{
  text-decoration: none;
  color: black;
}
a:hover{
  text-decoration: none;
}
a:active{
  text-decoration: none;
}
a.navlink:link{
  text-decoration: none;
  color: white;
}
 a.navlink:visited{
  text-decoration: none;
  color: white;
}
.navlink a:hover{
  text-decoration: none;
}
.navlink a:active{
  text-decoration: none;
}

h2 a:link{
  color: black;
}
.vehiclelink{
  color: black;
}

#tools{
  display: flex;
  justify-content: flex-end;
  padding-right: 5px;
}
main{
  background-color: white;
}

nav ul{
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  height: 50px;
  font-size: 20px;
  padding-top:10px ;
  
}


#hero{
  position: relative;
  text-align: center;
  color: black;
}
.carimg{
  max-width: 394px;
  
}

div.hero-banner{
  background-color: rgb(255, 255, 255, .5);
 max-width: 150px;
 position: absolute;
 top: 65px;
 left: 10px;
 font-size: 17px;
 line-height: 10px;
}

.order-butt{
  background-color: lightblue;
  height: 30px;
  padding-top: 10px;
  border-radius: 10px;
  max-width: 100px;
  margin: auto;
}

div.upgrades{
  display: grid;
  grid-template-columns: 1fr 1fr;

  
}

.upimg{
  background-color: lightblue;
  border: 40px 100px;
  display: inline-block;
}

#inv-display{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

#inv-display li{
  list-style-type: none;
  
}

.vehicleview{
  border: 1px solid black;
  
  max-width: 300px;
}

.vehicleimg{
  width: 299px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form label {
  display: block;
  margin-bottom: 1rem;
  text-align: center;
}
form input {
  margin-bottom: 2rem;
  width: 100%;
  max-width: 400px;
}
textarea {
  min-width: 20rem;
  min-height: 8rem;
}
.select_box select{
  margin-bottom: 2rem;
  min-width: 10rem;
}
.back_link {
  margin: 2rem 0;
}
.back_link:hover {
  color: #4CAECF;
}

@media screen and (min-width: 500px)  {
  body{
    max-width: 750px;

  }
  #main-body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  #hero{
    grid-column: 1/3;

  }
  #review{
    grid-column: 2/3;
  }
  .upgrades{
    grid-column: 1/2;
    grid-row: 2/3;
  }
}