<% if (title) { %>
    <h1 class="form-title"><%= title %></h1>
    <% } else { res.redirect('/'); } %>
    
    <!-- Display message in case of error -->
    <% if (message) { %>
    <p class="notice"><%= message %></p>
    <% } %>
    
    <div class="form_div">
      <p>All Fields are required</p>
      <form
        class="classification-form"
        id="addVehicle"
        action="add-vehicle"
        method="post">
        <div class="select_box"><%-selectOptions-%></div>
          <label for="invMake">Make</label>
          <input name="inv_make" id="invMake" >
          <label for="invModel">Model</label>
          <input name="inv_model" id="invModel" >
          <label for="invDescription">Description</label>
          <textarea
            name="inv_description"
            id="invDescription"
            form="addVehicle"
          ></textarea>
          <label for="invImage">Image Path</label>
          <input name="inv_image" id="invImage" value="/images/vehicles/no-image.png">
          <label for="invThumbnail">Thumbnail Path</label>
          <input name="inv_thumbnail" id="invThumbnail" value="/images/vehicles/no-image.png" >
          <label for="invPrice">Price</label>
          <input name="inv_price" id="invPrice" >
          <label for="invYear">Year</label>
          <input name="inv_year" id="invYear" >
          <label for="invMiles">Miles</label>
          <input name="inv_miles" id="invMiles" >
          <label for="invColor">Color</label>
          <input name="inv_color" id="invColor" >
    
        <button type="submit">Add Vehicle</button>
      </form>
      </div>
    <a class="back_link" href="manage-inv">to inventory management</a>
  