<% if (title) { %>
    <h1 class="form-title"><%= title %></h1>
    <% } else { res.redirect('/'); } %>
    
    <!-- Display message in case of error -->
    <% if (message) { %>
    <p class="notice"><%= message %></p>
    <% } %>
    
    <div class="form_div">
      <form class="classification_form" action="add-classification" method="post">
        <h2>Classification Name</h2>
        
          <input name="classification_name" id="classificationName" type="text" placeholder="e.g. Truck" required pattern="^[a-zA-Z]{3,12}$">
        <button type="submit">Add Classification</button>
      </form>
    </div>
  <a class="back_link" href="manage-inv">to inventory management</a>